<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypro.dao.MovieDao">

    <resultMap id="MovieResultMap" type="com.mypro.domain.Movie" autoMapping="true"></resultMap>
    <resultMap id="ResultOfInteger" type="java.lang.Integer">
        <result column="count(*)" property="count(*)" jdbcType="INTEGER" />
    </resultMap>

    <select id="findTotalNum" resultMap="ResultOfInteger">
		select count(*)
		from movie
	</select>

    <select id="findAll" resultMap="MovieResultMap">
		select *
		from movie
	</select>

    <select id="findById" parameterType="int" resultMap="MovieResultMap">
        select *
        from movie
        where id = #{id}
        </select>

</mapper>